{{- /* Serialize objects with jsonify so content cannot break out of the script. */ -}}
{{- if ne .Kind "404" -}}
    {{- $siteID := printf "%s#website" .Site.Home.Permalink -}}
    {{- $publisher := dict "@type" "Person" "name" .Site.Params.author.name "url" .Site.Params.author.url -}}
    {{- $publisher = merge $publisher (dict "@id" (printf "%s#person" .Site.Params.author.url)) -}}
    {{- with .Site.GetPage "/page/author" -}}
        {{- $publisher = merge $publisher (dict "url" .Permalink) -}}
    {{- end -}}
    {{- with .Site.Params.author.sameAs -}}
        {{- $publisher = merge $publisher (dict "sameAs" .) -}}
    {{- end -}}
    {{- with .Site.Params.author.knowsAbout -}}
        {{- $publisher = merge $publisher (dict "knowsAbout" .) -}}
    {{- end -}}
    {{- with .Site.Params.author.award -}}
        {{- $publisher = merge $publisher (dict "award" .) -}}
    {{- end -}}
    {{- $website := dict
        "@type" "WebSite"
        "@id" $siteID
        "url" .Site.Home.Permalink
        "name" .Site.Title
        "inLanguage" .Language.Lang
        "publisher" $publisher
    -}}
    {{- $type := "WebPage" -}}
    {{- if .Params.authorProfile -}}
        {{- $type = "ProfilePage" -}}
    {{- end -}}
    {{- if and .IsPage (in .Site.Params.mainSections .Section) -}}
        {{- $type = "BlogPosting" -}}
    {{- else if or .IsHome (in (slice "section" "taxonomy" "term") .Kind) (eq .Layout "archives") -}}
        {{- $type = "CollectionPage" -}}
    {{- end -}}
    {{- $page := dict
        "@type" $type
        "@id" (printf "%s#%s" .Permalink (cond (eq $type "BlogPosting") "article" "webpage"))
        "url" .Permalink
        "name" ((default .Site.Title .Title) | plainify)
        "inLanguage" .Language.Lang
        "isPartOf" (dict "@id" $siteID)
    -}}
    {{- with (partialCached "data/description" . .RelPermalink) -}}
        {{- $page = merge $page (dict "description" .) -}}
    {{- end -}}
    {{- if eq $type "ProfilePage" -}}
        {{- $page = merge $page (dict "mainEntity" $publisher) -}}
    {{- end -}}
    {{- if eq $type "BlogPosting" -}}
        {{- $author := $publisher -}}
        {{- with .Params.author -}}
            {{- if ne . $.Site.Params.author.name -}}
                {{- $author = dict "@type" "Person" "name" . -}}
            {{- end -}}
        {{- end -}}
        {{- $page = merge $page (dict
            "headline" (.Title | plainify)
            "author" $author
            "publisher" $publisher
            "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
        ) -}}
        {{- if not .PublishDate.IsZero -}}
            {{- $page = merge $page (dict "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")) -}}
        {{- end -}}
        {{- if not .Lastmod.IsZero -}}
            {{- $page = merge $page (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
        {{- end -}}
        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "opengraph") .RelPermalink "opengraph" -}}
        {{- if $image.exists -}}
            {{- $page = merge $page (dict "image" (slice (absURL $image.permalink))) -}}
        {{- end -}}
        {{- with .Params.tags -}}
            {{- $page = merge $page (dict "keywords" .) -}}
        {{- end -}}
    {{- end -}}
    <script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" (slice $website $page) | jsonify | safeJS }}</script>
{{- end -}}
